<html>
	<head>
		<title>My first Three.js app</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
		<script src="/static/three.js"></script>
		// <script src="/static/tween.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
		<script src="/static/TrackballControls.js"></script>
		<script src="/static/stats.min.js"></script>
		<script>

			function createCard(geometry, frontTexture, backTexture) {
				//returns a mesh, ready to be added to scene
				//var imageFront = new THREE.TextureLoader().load(front);
				//var imageBack = new THREE.TextureLoader().load(back);
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture, side:THREE.FrontSide } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture,  side:THREE.BackSide  } );
				//var geometry = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);
				var card = THREE.SceneUtils.createMultiMaterialObject(geometry, [faceMaterialFront, faceMaterialBack] );
				return card;
			}

			function createLotsofCards(num, geometry, front, back) {
				cards = [];
				for (var i=0; i<num; i++) {
					var card = createCard(geometry, front, back);
					cards.push(card);
				}
				return cards;
			}

			function positionLotsofCards(cards) {
				for (var i=0; i<cards.length; i++) {
					//cards[i].position.x = -2 + ((i %5) * Math.random());
					//cards[i].position.y = -2 + ((i %5) * Math.random());
					//cards[i].position.z = ((i % 4) * Math.random());
					var col = (i % 40);
					var row = Math.floor(i / 40); 
					cards[i].position.x = -12 + (col * 0.50);
					cards[i].position.y = 5 - (row * 0.50);
					cards[i].position.z = 0;
				}
			}			

			function updateCards(cards) {
				for (var i=0; i<cards.length; i++) {
					//cards[i].rotation.x += 0.01;
					cards[i].rotation.y += Math.PI/60;
					//cards[i].position.x += 0.001;
					//cards[i].rotation.z += Math.PI/2;					
				}

			}

			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 750, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			var container = document.createElement( 'div' );
			document.body.appendChild( container );
			stats = new Stats();
			container.appendChild( stats.dom );

			var geometry = new THREE.BoxGeometry( 1, 1, 1 );
			//var anImage = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var image1 = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var image2 = new THREE.TextureLoader().load("/static/CRW_6843.jpg");

			var faceMaterial1 = new THREE.MeshBasicMaterial( {  wireframe:false, map:image1, transparent:true, opacity:0.4} );
			var faceMaterial2 = new THREE.MeshBasicMaterial( {  wireframe:false, map:image2, side:THREE.DoubleSide  } );

			var faces = [faceMaterial1,faceMaterial2,faceMaterial1,faceMaterial2, faceMaterial1,faceMaterial2];
			
			var material = new THREE.MultiMaterial( faces );
			var cube = new THREE.Mesh( geometry, material );
			//scene.add( cube );
			
			var imageFront = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var imageBack = new THREE.TextureLoader().load("/static/CRW_6843.jpg");
			var geometry = new THREE.PlaneBufferGeometry( 0.5, 0.5, 1, 1);
			
			var cards = createLotsofCards(1000, geometry, imageFront, imageBack);
			var cardSideUp = [cards.length];

			
			for (var c=0; c<cards.length; c++) {
				scene.add( cards[c] );	
			}

			positionLotsofCards(cards);

			camera.position.z = 25;

			//var axisHelper = new THREE.AxisHelper( 5 );
			//scene.add( axisHelper );

			var win = renderer.domElement;
			win.addEventListener( 'click', 
				function ( event ) {
					transform( cards, 3000 );
					console.log("got click");
				}, false );

			window.addEventListener( 'resize', onWindowResize, false );



			function transform( cards, duration ) {
				//TWEEN.removeAll();

				var duration = duration / 1000;

				for ( var i = 0; i < cards.length; i ++ ) {

					var aCard = cards[ i ];

					if (i % 2 == 0) { 

						if (cardSideUp[i] == 0) {
							cardSideUp[i] = 1;
							TweenMax.to(aCard.rotation, duration, { x: Math.PI} );
							//new TWEEN.Tween( aCard.rotation )
							//	.to( {  x: Math.PI },  duration )
							//	.easing( TWEEN.Easing.Exponential.InOut )
							//	.start();						
						} else {
							cardSideUp[i] = 0;
							TweenMax.to(aCard.rotation, duration, { y: 0, x:0 } );
							//new TWEEN.Tween( aCard.rotation )
							//	.to( { y: 0, x:0 },  duration )
							//	.easing( TWEEN.Easing.Linear.None )
							//	.start();
						}							
					} else {
						if (cardSideUp[i] == 0) {
							cardSideUp[i] = 1;
							TweenMax.to(aCard.rotation, duration, { y: Math.PI} );
							//new TWEEN.Tween( aCard.rotation )
							//	.to( {  y: Math.PI },  duration )
							//	.easing( TWEEN.Easing.Exponential.InOut )
							//	.start();						
						} else {
							cardSideUp[i] = 0;
							TweenMax.to(aCard.rotation, duration, { y: 0, x:0 } );
							//new TWEEN.Tween( aCard.rotation )
							//	.to( { y: 0, x:0 },  duration )
							//	.easing( TWEEN.Easing.Linear.None )
							//	.start();							
						}	
					}
				}

				//this tween causes rendering
				//new TWEEN.Tween( this )
				//	.to( {}, duration  )
				//	.onUpdate( render )
				//	.start();

			}



			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				render();

			}



			//function animate() {
			//	requestAnimationFrame( animate );
			//	TWEEN.update(); //Tween will call render()
			//	//controls.update();	
			//}

			var render = function () {
				renderer.render(scene, camera);
				stats.update();

			};

			//TweenLite.ticker.fps(50);
			TweenLite.ticker.addEventListener("tick", render);

			//animate();
			//transform(cards, 4000);

		</script>
	</body>
</html>