{% extends "layout.html" %}
{% block content %}

<head>	
	<style>
		div.frame {
			background-color: #d0e4fe;
			border: 2px solid red ;
			width: 640px;
			height: 640px;
			position: relative;
		}
		div.tile {
			position: absolute;
		}
		img.s128 {
			width:  {{tileEdge}}px;
			height: {{tileEdge}}px;
		}

		.tileWrapper {
  			width:{{tileEdge}}px;
  			height:{{tileEdge}}px;
  			position:absolute;
  			float:left;
  		}

  		.tileFace {
  			position:absolute;
  			width:{{tileEdge}}px;
  			height:{{tileEdge}}px;
  			overflow:hidden;
  		}

  	img.tile128 {
			width: {{tileEdge}}px;
			height: {{tileEdge}}px;
		}

		.back .front {
			backface-visibility:hidden;
		}
	}	

}

</style>
</head>

<body>

	<h2>Hello David</h2>
	<button type="button" id="b1">One</button>
	<button type="button" id="b2">Two</button>
	<button type="button" id="b3">Three</button>
	<p>
	
	<div class="frame" id="outer">
		
		{% for tile in tileList %}
		
		<div class="tileWrapper" style="top:{{tile.y}}px;left:{{tile.x}}px;">
			<div class = "card s128" id="row_{{tile.row}}_col_{{tile.col}}">
				<div class="tileFace front">
					<img class="tile128" src="{{tile.frontImg}}">
				</div>
				<div class="tileFace back">
					<img class="tile128" src="{{tile.backImg}}">
				</div>
			</div>
		</div>
		{% endfor %}
	</div>





	<script>

		TweenMax.set(".tileWrapper", {perspective:50});
		TweenMax.set(".card", {transformStyle:"preserve-3d"});
		TweenMax.set(".back", {rotationY:-180});
		TweenMax.set([".back", ".front"], {backfaceVisibility:"hidden"});

		var mySet = new Set();

		$(".tileWrapper").click(function(event) {
			//fixme - needs state + absolute, else gets stuck on rapid clicks
			event.stopPropagation();
			TweenMax.to($(this).find(".card"), 1, {rotationY:180});	
		})

		var topZ = 10;
		TweenMax.set(".frame", {perspective:800});
		//can also use hover or mouseover / mouseout
		$(".s128").mouseenter(function() {
			//TweenMax.to($(this), 1, {rotationY:180});
			//console.log(this._gsTransform.rotationY);
			$(this).parent().css("zIndex", topZ+1);
			TweenMax.to($(this), 1, {scale:2});
		});
		$(".s128").mouseleave(function() {
			$(this).parent().css("zIndex", topZ-1);
			TweenMax.to($(this), 1, {scale:1, onComplete:resetZindex,onCompleteParams:[$(this)]});
			//TweenMax.to($(this), 1, {rotationY:0});
		});
		function resetZindex(item) {
			item.parent().css("zIndex", 0)
		}

		$(".s128").click(function(event) {
			//fixme - needs state + absolute, else gets stuck on rapid clicks
			event.stopPropagation();
			flipOneCard(this, 1.0)
			//console.log(this._gsTransform.rotationY);
			//TweenMax.to(this, 1, {rotationY:"+=180"});
			console.log(this._gsTransform.rotationY);	
		})

		function flipOneCard(ele, duration) {
			//try to keep the card on 0/180 rotation
			//overwrite - stops existing action and forces the new one
			//TweenMax.to(ele, duration, {rotationY:"+=180", overwrite:"all"});
			
			TweenMax.killTweensOf(ele); //stop current status
			var curRotation = ele._gsTransform.rotationY;
			if (curRotation <= 0) {
				TweenMax.to(ele, duration, {rotationY:180, overwrite:"all"});
			} else {
				TweenMax.to(ele, duration, {rotationY:0, overwrite:"all"});
			}
					
		}


		$("#b1").click(function() {
			//fixme - needs state + absolute, else gets stuck on rapid clicks
			//TweenMax.staggerTo($(".s128"), 1, {rotationY:"+=180", yoyo:false}, 0.01);	
			var tline = new TimelineLite({paused:true});

			var tiles = [];
			blineList(tiles, 0,0,17,17);
			blineList(tiles, 17,17,0,9);
			blineList(tiles, 0,11,12,17);			
			//console.log(lines);
			tline.staggerTo(tiles, 1.0, {rotationY:"+=180", overwrite:"all"}, 0.04);
			tline.play();
		});

		$("#b2").click(function() {
			//fixme - needs state + absolute, else gets stuck on rapid clicks
			//TweenMax.staggerTo($(".s128"), 1, {rotationY:"+=180", yoyo:false}, 0.01);	
			var tline = new TimelineLite({paused:true});
			//TimelineLite.smoothChildTiming = true;
			var tiles = [];

			randomlyFlipTiles(tline);
			tline.play();
		});

		$("#b3").click(function(event) {
			var rings = []; //will hold sets of tiles, in expanding rings
			var ringNum = 0;
			var alreadyUsed = new Set();
			alreadyUsed.add(generateTileIdFromRowCol(0,0)); //consider first point already used

			while (true) {
				rings[ringNum] = newNeighborsOf({{numRows}}, {{numCols}}, alreadyUsed);
				console.log(rings[ringNum]);
				if ((rings[ringNum]).size == 0) break;
				var tempArr = Array.from(rings[ringNum]);
				for (var i=0; i<tempArr.length; i++) {
					alreadyUsed.add(tempArr[i]);  //need a UNION operator!
				}
				ringNum = ringNum + 1;
			}
			tline = new TimelineLite({paused:true});
			for (var r=0; r<rings.length; r++) {
				tline.to([...rings[r]],.2, {ease: Power1.easeInOut, rotationY:"+=180", overwrite:"all"});	
			}
			tline.play();


		});

		function randomlyFlipTiles(tline) {
			tiles = generateShuffledListofAllTiles({{numRows}}, {{numCols}});
			//fixme - should this be a simple toggle -- all 0 or all 180?
			var numSplits = 7;
			tileSets = splitTiles(tiles, numSplits);
			for (var i=0; i<numSplits; i++) {
				//fixme - not sure this is working as intended?
				//TweenMax.staggerTo(tileSets[i],0.8, {rotationY:"+=180", overwrite:"all"}, 0.01);
				//for (var t=0; t<tileSets[i].length; t++) {
				//	TweenMax.to(tileSets[i][t],2, {rotationY:"+=180", overwrite:"all", delay:(t*0.01)});
				//}
				//console.log ("tileset has len = " + tileSets[i].length);
				tline.to((tileSets[i]),1, {ease: Power3.easeInOut, rotationY:"+=180", overwrite:"all"},"-=1.5");
			}
		}

		function splitTiles(tileArray, numSplits) {
			//split this list into two sublists
			var tileSets = []; //will return an array of arrays
			for (var i=0; i<numSplits; i++) { tileSets[i] = []; }

			var toggle = 0;
			for (var i=0; i<tileArray.length; i++) {
				(tileSets[toggle]).push(tileArray[i]);
				toggle = toggle + 1;
				if (toggle >= numSplits) { toggle = 0; }
			}
			return tileSets
		}


		function generateTileIdFromRowCol(row, col) {
			return "#row_" + row.toString() + "_" + "col_" + col.toString();
		}

		function getRowColFromTileName(name) {
			nums = name.match(/\d+/g); //array, row=0, col=1
			r = parseInt(nums[0]);
			c = parseInt(nums[1]);
			return [r,c];
		}

		function blineList(list, x0, y0, x1, y1) {
			//from rosettacode.org - Bresenham's line drawing
			//returns a list of jQuery tile objects
  			var dx = Math.abs(x1 - x0), sx = x0 < x1 ? 1 : -1;
  			var dy = Math.abs(y1 - y0), sy = y0 < y1 ? 1 : -1; 
  			var err = (dx>dy ? dx : -dy)/2;
 
  			var start = 0;
  			while (true) {
    			//setPixel(x0,y0);
    			//var id = "#row_" + x0.toString() + "_" + "col_" + y0.toString();
    			var id = generateTileIdFromRowCol(x0, y0);
    			var tile = $(id);
    			list.push(tile);
    			if (x0 === x1 && y0 === y1) break;
    			var e2 = err;
    			if (e2 > -dx) { err -= dy; x0 += sx; }
    			if (e2 < dy) { err += dx; y0 += sy; }
  			}
		}

		function generateShuffledListofAllTiles(numRows, numCols) {
			//returns array of elements
			list = []
			for (r=0; r<numRows; r++) {
				for (c=0; c<numCols; c++) {
					var tile = $( generateTileIdFromRowCol(r,c) ); //fixme - no need for jQuery here?
					list.push(tile);
				}
			}
			shuffleArray(list);
			return list;
		}

		function shuffleArray(array) {
			//Durstenfeld shuffle, from stackoverflow
		    for (var i = array.length - 1; i > 0; i--) {
		        var j = Math.floor(Math.random() * (i + 1));
		        var temp = array[i];
		        array[i] = array[j];
		        array[j] = temp;
		    }
		    return array;
		}

		function newNeighborsOf(numRows, numCols, currentNeighbors) {
			//return set of new next-door neighbors of the currentNeighbors set
			//return as Object.r, Object.c
			//return empty set if no new neighbors

			function considerPoint(row, col) {
				//see if point at (row,col) is new. If so, add to newNeighbors
				//access outer Sets newNeighbors and currentNeighbors
				var newPoint = generateTileIdFromRowCol(row,col);
				//console.log("considering ", newPoint);
				if ( currentNeighbors.has(newPoint) ) {
					//console.log("point already in use: ", newPoint);
					delete newPoint;
				} else {
					//console.log("found new point: ", newPoint);
					newNeighbors.add(newPoint);
				}
				return;
			}

			var newNeighbors = new Set();

			for (let point of currentNeighbors) {
				var rc = getRowColFromTileName(point);
				var mcol = rc[1];
				var mrow = rc[0];
				var left = mcol - 1;
				var right = mcol + 1;
				var top = mrow - 1;
				var bot = mrow + 1;

				if (top > -1 && left > -1)				considerPoint(top, left);   //UL
				if (top > -1 )							considerPoint(top, mcol);   //Above
				if (top > -1 && right < numCols)		considerPoint(top, right);  //UR

				if (left > -1)        					considerPoint(mrow, left);   //L
				//center point not considered
				if (right < numCols)					considerPoint(mrow, right);  //R

				if (bot < numRows && left > -1)			considerPoint(bot, left);    //LL
				if (bot < numRows )						considerPoint(bot, mcol);    //below
				if (bot < numRows && right < numCols)	considerPoint(bot, right);   //LR
			}
			return newNeighbors;
		}

		
	
	</script>
	
</body>
</html>

{% endblock %}
