<html>
	<head>
		<title>My first Three.js app</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
		<script src="/static/three.js"></script>
		<script src="/static/stats.min.js"></script>
		<script>

			var mouse = new THREE.Vector2();

			var raycaster;

			function changeBackOfCard(newImageTexture, card) {

				//var imageBack = new THREE.TextureLoader().load(newImageURL);
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:newImageTexture  } );
				for (i=0; i<2; i++) {
					var obj = card.children[i].userData["side"];
					if ( obj == "back") {
						card.remove(card.children[i]);
						var geometry2 = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);
						geometry2.applyMatrix( new THREE.Matrix4().makeRotationY( Math.PI ) );
						var mf = new THREE.Mesh(geometry2,faceMaterialBack);
						mf.userData = {"side": "back"};
						card.add(mf);
						return;
					}
				}
				return;
			}

			function createCardOrig(geometry, frontTexture, backTexture) {
				//returns a mesh, ready to be added to scene
				//var imageFront = new THREE.TextureLoader().load(front);
				//var imageBack = new THREE.TextureLoader().load(back);
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture, side:THREE.FrontSide } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture,  side:THREE.BackSide  } );
				//var geometry = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);
				var card = THREE.SceneUtils.createMultiMaterialObject(geometry, [faceMaterialFront, faceMaterialBack] );
				return card;
			}
			function createCardObject3D(geometry, frontTexture, backTexture) {
				//returns a mesh, ready to be added to scene
				//var imageFront = new THREE.TextureLoader().load(front);
				//var imageBack = new THREE.TextureLoader().load(back);
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture, side:THREE.FrontSide } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture,  side:THREE.BackSide  } );
				//var geometry = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);
				//var card = THREE.SceneUtils.createMultiMaterialObject(geometry, [faceMaterialFront, faceMaterialBack] );
				var card = new THREE.Object3D();
				card.add(new THREE.Mesh(geometry,faceMaterialFront).userData = {"side": "front"});
				card.add(new THREE.Mesh(geometry,faceMaterialBack).userData = {"side": "back"});
				return card;
			}

			function createCardTwoMesh(geometry, geometryBack, frontTexture, backTexture) {
				//returns a mesh, ready to be added to scene
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture  } );

				var card = new THREE.Object3D();

				var mf = new THREE.Mesh(geometry,faceMaterialFront);
				mf.userData = {"side": "front"};
				card.add(mf);

				var mb = new THREE.Mesh(geometryBack,faceMaterialBack);
				mb.userData = {"side": "back"};
				card.add(mb);

				return card;
			}

			function createCardSlab(geometry, geometryBack, frontTexture, backTexture) {
				//uses a thin cube, but was considerably slower than the "two mesh" approach above
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture  } );
				var faceMaterialEdge = new THREE.MeshBasicMaterial({color:'gray'});
				
				var facesSlab = [faceMaterialEdge,faceMaterialEdge,faceMaterialEdge, faceMaterialEdge,faceMaterialFront,faceMaterialBack];
				var materialSlab = new THREE.MultiMaterial( facesSlab );
				var slab = new THREE.Mesh( geometry, materialSlab );

				return slab;
			}

			function createCardLean(geometry, frontTexture, backTexture) {
				//returns a mesh, ready to be added to scene
				//var imageFront = new THREE.TextureLoader().load(front);
				//var imageBack = new THREE.TextureLoader().load(back);
				var faceMaterialFront = new THREE.MeshBasicMaterial( { map:frontTexture, side:THREE.FrontSide } );
				var faceMaterialBack =  new THREE.MeshBasicMaterial( { map:backTexture,  side:THREE.BackSide  } );
				var materials = [faceMaterialFront, faceMaterialBack];

				var geometry = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);

				for (var i = 0, len = geometry.faces.length; i < len; i++) {
    				var face = geometry.faces[i].clone();
    				face.materialIndex = i;
    				geometry.faces.push(face);
    				geometry.faceVertexUvs[0].push(geometry.faceVertexUvs[0][i].slice(0));
    			}

				var card = new THREE.Mesh(geometry, materials);

				return card;
			}			

			function createLotsofCards(num, geometry, geometryBack, front, back) {
				cards = [];
				for (var i=0; i<num; i++) {
					//var card = createCardSlab(geometry, geometryBack, front, back);
					var card = createCardTwoMesh(geometry, geometryBack, front, back);
					cards.push(card);
				}
				return cards;
			}

			function positionLotsofCards(cards) {
				for (var i=0; i<cards.length; i++) {
					var col = (i % 60);
					var row = Math.floor(i / 60); 
					cards[i].position.x = -15 + (col * 0.50);
					cards[i].position.y = -8 + (row * 0.50);
					cards[i].position.z = 0;
				}
			}			

			function updateCards(cards) {
				for (var i=0; i<cards.length; i++) {
					//cards[i].rotation.x += 0.01;
					cards[i].rotation.y += Math.PI/60;
					//cards[i].position.x += 0.001;
					//cards[i].rotation.z += Math.PI/2;					
				}

			}

			var curEdges = null;
			function findIntersection(raycaster, scene, camera) {
				var Intersected;
				
				raycaster.setFromCamera( mouse, camera );
				var intersects = raycaster.intersectObjects( scene.children, true );
				
				if ( intersects.length > 0 ) {
					console.log("intersected = ", intersects[0]);
					if (curEdges === intersects[0].object) {
						//console.log("no change edge");
						return intersects[0];
					}
					else if (curEdges) {
						scene.remove(curEdges);
						curEdges = null;
					}
					curEdges = new THREE.EdgesHelper(intersects[0].object, 0x00ff00);
					scene.add( curEdges);
					return intersects[0];
				}
				//console.log("missed!");
				return null;
			}

			var container = document.createElement( 'div' );
			document.body.appendChild( container );

			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera( 750, window.innerWidth/window.innerHeight, 0.1, 1000 );

			var renderer = new THREE.WebGLRenderer();
			//renderer.setPixelRatio( window.devicePixelRatio );
			renderer.setSize( window.innerWidth, window.innerHeight );
			//renderer.sortObjects = false; //WHAT DOES THIS DO?

			document.body.appendChild( renderer.domElement );

			raycaster = new THREE.Raycaster();

			stats = new Stats();
			container.appendChild( stats.dom );

			var geometry = new THREE.BoxGeometry( 1, 1, 1 );
			//var anImage = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var image1 = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var image2 = new THREE.TextureLoader().load("/static/CRW_6843.jpg");

			var faceMaterial1 = new THREE.MeshBasicMaterial( {  wireframe:false, map:image1, transparent:true, opacity:0.4} );
			var faceMaterial2 = new THREE.MeshBasicMaterial( {  wireframe:false, map:image2, side:THREE.DoubleSide  } );

			var faces = [faceMaterial1,faceMaterial2,faceMaterial1,faceMaterial2, faceMaterial1,faceMaterial2];
			
			var material = new THREE.MultiMaterial( faces );
			var cube = new THREE.Mesh( geometry, material );
			scene.add( cube );
			cube.position.z = -1;
			
			var imageFront = new THREE.TextureLoader().load("/static/IMG_2516.jpg");
			var imageBack = new THREE.TextureLoader().load("/static/CRW_6843.jpg"); //flower
			var imageThird = new THREE.TextureLoader().load("/static/IMG_3098.jpg");

			var geometry = new THREE.PlaneGeometry( 0.5, 0.5, 1, 1);
			var geometryBack = geometry.clone(); //to serve as backside, inverted texture
			geometryBack.applyMatrix( new THREE.Matrix4().makeRotationY( Math.PI ) );
			var cards = createLotsofCards(2400, geometry, geometryBack, imageFront, imageBack);


			//var geometry = new THREE.BoxGeometry( .5, .5, 0.025 );
			//var cards = createLotsofCards(2400, geometry, null, imageFront, imageBack);


			//slab experiment - was too slow!
			/*
			var geometrySlab = new THREE.BoxGeometry( 1, 1, 0.05 );
			var faceSlabMaterialFront = new THREE.MeshBasicMaterial( { map:imageFront} );
			var faceSlabMaterialBack = new THREE.MeshBasicMaterial( { map:imageBack} );
			var faceSlabMaterialEdge = new THREE.MeshBasicMaterial({color:'red'});
			var facesSlab = [faceSlabMaterialEdge,faceSlabMaterialEdge,faceSlabMaterialEdge, faceSlabMaterialEdge,faceSlabMaterialFront,faceSlabMaterialBack];
			var materialSlab = new THREE.MultiMaterial( facesSlab );
			var slab = new THREE.Mesh( geometrySlab, materialSlab );
			scene.add( slab );
			slab.position.z = +22;
			*/

		
			
			for (var c=0; c<cards.length; c++) {
				scene.add( cards[c] );	
			}

			positionLotsofCards(cards);

			camera.position.z = 10;

			var axisHelper = new THREE.AxisHelper( 5 );
			//scene.add( axisHelper );

			document.addEventListener( 'click', onDocumentMouseClick, false );
			function onDocumentMouseClick( event ) {
				event.preventDefault();
				mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
				mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
				//console.log("click event", event, mouse);
				var item = findIntersection(raycaster, scene, camera);
			}

			var frames = 0;
			var render = function () {
				frames++;
				requestAnimationFrame( render );

	
				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				//slab.rotation.x += 0.01;
				//slab.rotation.y += 0.01;

				updateCards(cards);

				if (frames % 5 == 0) {
					var c = Math.floor(Math.random() * 2000);
					changeBackOfCard(imageThird, cards[c]);
					//console.log(c);
				}
			
				renderer.render(scene, camera);
				stats.update();
			};

			render();
		</script>
	</body>
</html>